.page {
  padding: 2rem;
  background-color: var(--background);
  min-height: 100vh;

  .content {
    h1 {
      margin-bottom: 1rem;
      color: #262626;
      font-size: 2rem;
      font-weight: 600;
    }

    p {
      margin-bottom: 2rem;
      color: #666;
      font-size: 1rem;
    }
  }
}