:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(220, 13%, 18%);
  --secondary: hsl(221, 83%, 53%);
  --secondary-hover: hsl(221, 83%, 43%);
  --bg-color: #eff6ff;
  --button-color: hsl(141, 71%, 48%);
  --bg-shadow: hsl(0, 0%, 94%);
  --sub-text: hsl(287, 6%, 47%);
  --muted-foreground: hsl(220, 13%, 18%);
  --border-color: hsl(220, 15%, 91%);
  --color-hover: hsl(210, 40%, 96%);
  --color-privacy: hsl(261, 66%, 77%);
  --placeholder-color: #9ca3af;

  /* --background: #ffffff;
  --foreground: #171717;
  --seocndary: #3e4095;
  --bg-color: #eff6ff;
  --button-color: #22c55e;
  --bg-shadow: #0000000f;
  --sub-text: #6b7280;
  --muted-foreground: #1b1b1bef;
  --border-color: #e5e7eb;
  --color-hover: #f3f4f6;
  --color-privacy: #bdb3f4;
  --placeholder-color: #9ca3af; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
