
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: var(--background);
  
  @media (max-width: 768px) {
    padding-top: 70px; // Espaço para o header mobile fixo com logo
  }
} 