.breadcrumbsContainer {
  padding: 16px 24px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  :global(.ant-breadcrumb) {
    font-size: 14px;
    
    .ant-breadcrumb-link {
      color: #666;
      
      &:hover {
        color: var(--secondary);
      }
    }
    
    .ant-breadcrumb-separator {
      color: #d9d9d9;
    }
  }
}

.breadcrumbLink {
  display: flex;
  align-items: center;
  color: #666;
  text-decoration: none;
  
  &:hover {
    color: var(--secondary);
  }
  
  svg {
    margin-right: 4px;
  }
}

.upgradeButton {
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  margin-left: 16px;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:hover {
    background-color: var(--secondary-hover);
  }
}